<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>drew</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body class="contact">
  <!-- partial:../partials/_header.html -->
  <!-- partial -->
  <div class="row">
    <!-- partial:../partials/_menu.html -->
    <!-- partial -->
    <div class="large-8 columns">
      <h1>About</h1>
      <p>I work for the support, design and development of web projects of many scales and applications. Having worked for years on a small teams in a variety of web roles, I have focused on strategy, user experience, project management and front-end web development. My full suite of skills can bring a website from concept to launch with well-thought design and code.</p>

      <p>Offline, I enjoy the whizzing of bike spokes, a fully trimmed sail and exploring the man-made and natural splendor of the Pacific Northwest.</p>
    </div>
  </div>
  <script src="js/bundle.js"></script>
</body>

</html>