<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>drew</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body class="contact">
  <!-- partial:../partials/_header.html -->
  <!-- partial -->
  <div class="row">
    <!-- partial:../partials/_menu.html -->
    <!-- partial -->
    <div class="large-8 columns">
      <h1>Contact</h1>
      <p>Email me at: <a href="mailto:drewcoll@gmail.com">drewcoll@gmail.com</a></p>
      <p>Call me at: <a href="tel:+12065528863">(206)552-8863</a></p>
      <p>Find me on:</p>
      <ul>
        <li><a href="http://linkedin.com/drewcoll">LinkedIn</a></li>
        <li><a href="http://github.com/drewcoll">GitHub</a></li>
      </ul>
    </div>
  </div>
  <script src="js/bundle.js"></script>
</body>

</html>