<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>drew</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body class="resume">
  <!-- partial:../partials/_header.html -->
  <!-- partial -->
  <div class="row">
    <!-- partial:../partials/_menu.html -->
    <!-- partial -->
    <div class="large-8 columns">
      <h1>Resume</h1>
      <h2>Qualifications</h2>
      <ul>
        <li>Years of experience in all stages and many roles of the software development cycle including project management, UX design, and strategy</li>
        <li>Skills in analytics, accessibility, performance, prototyping, search engine optimization, responsive design, and testing</li>
        <li>Creative collaborator with empathy for users</li>
      </ul>
      <h2>Experience</h2>
      <h3>Web Developer and User Experience Designer</h3>
      <p>University of Washington, College of the Environment <br>
        Jan 2013 - Present</p>

      <p>I work on a small marketing and communications team to build and maintain websites for the College of the Environment.</p>

      <p>I do user testing, user experience design, responsive/mobile design, interaction design, rapid prototyping, content strategy, project management and administration on 15+ websites representing thousands of students, faculty and staff.</p>

      <p>Technically I work with Foundation, WordPress, jQuery and these acronyms: PHP, SASS, JS, HTML5, CSS3, MySQL.</p>
    </div>
  </div>
  <script src="js/bundle.js"></script>
</body>

</html>