<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>drew</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body class="work">
  <!-- partial:../partials/_header.html -->
  <!-- partial -->
  <div class="row">
    <!-- partial:../partials/_menu.html -->
    <!-- partial -->
    <div class="large-6 columns">
      <h1>Work</h1>
      <h2 id="fhl">Friday Harbor Laboratories</h2>
      <h3 class="subtitle"><small>Complete website update to a responsive, inviting call to research and study in the San Juan Islands</small></h3>
      <img src="/media/FHL-homepage.jpg">
      <h3>Introduction</h3>
      <p>The University of Washington's Friday Harbor Laboratories are a one-of-a-kind reserach station in the San Juan Islands off the northwest corner of Washington State. The labs are a destination for marine biology students and researchers from around the world. The  location, community and connection to the surrounding ecosystems set the labs apart from any of the facilities at the University.</p>
      <h3>Goals</h3>
      <ul>
        <li>Completely rebuild a new responsive website using modern web technologies and new UW "boundless" branding</li>
        <li>Attract students and researchers by showcasing the unique setting and opportunities  at the labs</li>
        <li>Overhaul content and user experience of a decades-old website</li>
      </ul>
      <h3>Research and prototyping</h3>
      <p>As part of our kickoff meeting, we developed personas, mapped critical user tasks, prioritized content and began work on a style tile. These led to a more finalized set of notes and a basic prototype.
      </p>
      <div id="example1" class="gallery" data-chocolat-title="Set title">
          <a class="chocolat-image" href="media/Drew-Collins-200x200.jpg" title="image caption a">
              A <!-- you can display a thumbnail here : <img src="thumb/a.jpg" /> -->
          </a>
          <a class="chocolat-image" href="media/FHL-homepage.jpg" title="image caption b">
              B <!-- you can display a thumbnail here : <img src="thumb/b.jpg" /> -->
          </a>
      </div>
    </div>
    <div class="large-2 columns" data-sticky-container>
        <div class="top-bar" data-sticky data-margin-top="0" id="example-menu">
          <div class="top-bar-left">
            <ul class="vertical menu" data-magellan>
              <li><a href="#fhl">Friday Harbor Laboratories</a></li>
              <li><a href="#careers">Career Opportunities Page</a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  <script src="js/bundle.js"></script>
</body>

</html>